SUBSYSTEMS=="usb",ATTRS{product}=="8 DOF USB Board",ENV{BRL_USB_BOARD}="1",ENV{BRL_USB_SN}="$attr{serial}"

SUBSYSTEM=="usbmisc",ENV{BRL_USB_BOARD}=="1",SYMLINK+="brl_usb$env{BRL_USB_SN}",GROUP="realtime",OWNER="raven",MODE="0666"
